
// 粗体
strong {
    color: #7e6b9e;
}

// 引用
blockquote {
    font-size: 0.9rem;
    color: #000 !important;
    border-left: 0.25rem solid #7e6b9e !important;
    background-color: #e6e1ec !important;
    margin: 0.5rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
}

[href="https://vuepress-theme-reco.recoluan.com"] {
    display:none !important;
}
   
.reco-theme{
    display:none !important;
}